.members{
	margin:0px;
	padding:0px;
}
.members table{margin:0px;
	padding:0px;
}
.members table tr, td {
    border: 1px solid black;
    width: 150px;
    font-size: 19px;
    font-family: Century Gothic;
    text-align: center;
}
.mem1 table td{
	background: #ddd;

}
.bx1{
	margin-top: 10px;

}
table p{
	font-size: 17px;
}
.mem2 table td{

}
#nbfs{
	text-decoration: none;
	color:#1565c0;
}
#nbfs:hover{
	text-decoration: underline;
	color: #0d47a1;
}





.div2 p {
    background: #418053;
    color: white;
    height: 27px;
    width: 70px;
    padding-top: 5px;
    margin-left: 46px;
    border-radius: 5px;
}
.div2 p:hover {
    background: #0b6123;
}
.div2 a{
	text-decoration: none;
}